.cartItems {
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
}

.cartGrid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.cartHeader,
.cartItem {
    display: contents;
}

.cartHeader div {
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--main-clr);
}

.cartItem img {
    height: 60px;
    object-fit: contain;
}

.cartItem .item-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.cartItem .quantity {
    font-size: 1.4rem;
}

.remove-btn {
    color: #777;
    font-size: 1.2rem;
}

.remove-btn:hover {
    color: red;
    cursor: pointer;
}

.item-price-total {
    font-size: 1.6rem;
    font-weight: 500;
}

.fallbackText {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 3.2rem;
}

.adder_remover_cartpage {
    display: flex;
    gap: 4px;
    cursor: pointer;
}

.quantity_cartpage {
    width: 20px;
    text-align: center;
    font-size: 1.4rem;
}


@media (max-width:475px) {

    /* .cartGrid {
        gap: 1rem;
    } */

    .cartItem img {
        height: 40px;

    }

    .adder_remover {
        gap: 0rem;
    }

    .cartItems {
        margin-top: 3.2rem;

    }

}