.navbar {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 0; */
    background-color: var(--light-clr);
    z-index: 2;
}

.logo {
    height: 6rem;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 3rem;
    color: var(--text-clr);
    font-size: 1.8rem;
}

.navbar-menu a {
    border-bottom: 2px solid transparent;
    padding-bottom: 0.2rem;
    transition: 0.3s;
}

.active {
    border-bottom: 2px solid var(--main-clr);
}

.navbar-menu a:hover {
    border-bottom: 2px solid var(--main-clr);
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 3rem;
}



.navbar button {
    background-color: transparent;
    font-size: 1.6rem;
    color: var(--text-clr);
    border: 1px solid var(--main-clr);
    padding: 1rem 3rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fff4f2;
}

.navbar-right img {
    height: 3rem;
}

.navbar-search-icon {
    position: relative;
    width: 3rem;
    height: 3rem;
}



.dot {
    position: absolute;
    min-width: 1rem;
    min-height: 1rem;
    background-color: var(--main-clr);
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media (max-width: 1024px) {
    .navbar .logo {
        height: 5rem;
    }

    .navbar-menu {
        gap: 2rem;
        font-size: 1.6rem;
    }

    .navbar-right {
        gap: 2rem;
    }

    .navbar-right img {
        height: 2rem;
    }

    .navbar-search-icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .navbar button {
        font-size: 1.2rem;
        padding: 0.8rem 2.5rem;
        cursor: pointer;
        transition: 0.3s;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        height: 4rem;
    }

    .navbar-menu {
        gap: 1rem;
        font-size: 1.4rem;
    }

    .navbar-right {
        gap: 1.3rem;
    }

    .navbar-right img {
        height: 1.5rem;
    }

    .navbar-search-icon {
        width: 2rem;
        height: 2rem;
    }

    .navbar button {
        font-size: 1.2rem;
        padding: 0.4rem 1.2rem;
    }
}

@media (max-width: 640px) {
    .navbar-menu {
        display: none;
    }
}